CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_ipq40xx_generic_DEVICE_asus_rt-ac42u=y
CONFIG_TARGET_BOARD="ipq40xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_asus_rt-ac42u"
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_luci-app-appfilter=y
# CONFIG_PACKAGE_luci-app-easymesh is not set
CONFIG_PACKAGE_luci-app-easyupdate=y
CONFIG_PACKAGE_luci-compat=y
