CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_BOARD="ipq40xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_asus_rt-acrh17"
CONFIG_DEFAULT_default-settings=y
CONFIG_DEFAULT_dnsmasq-full=y
CONFIG_DEFAULT_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_PACKAGE_luci-app-turboacc=y
