CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_DEVICE_asus_rt-acrh17=y
CONFIG_TARGET_BOARD="ipq40xx"
CONFIG_IB=y
# luci
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-app-bypass=y
# 以上编译成功，添加以下测试是否成功。
CONFIG_PACKAGE_luci-app-aliddns=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-broadbandacc=y
CONFIG_PACKAGE_luci-app-diskman=y
# 以上编译成功，添加以下测试是否成功。
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-kodexplorer=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-adguardhome=y
