CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_DEVICE_asus_rt-acrh17=y
CONFIG_TARGET_BOARD="ipq40xx"
CONFIG_IB=y
CONFIG_PACKAGE_luci-app-easymesh=y
# CONFIG_NODEJS_18=y
# CONFIG_PACKAGE_ipv6helper=y
# CONFIG_PACKAGE_luci-app-bypass=y
# CONFIG_PACKAGE_luci-app-aliddns=y
# CONFIG_PACKAGE_luci-app-baidupcs-web=y
# CONFIG_PACKAGE_luci-app-broadbandacc=y
# CONFIG_PACKAGE_luci-app-diskman=y
# CONFIG_PACKAGE_luci-app-frpc=y
# CONFIG_PACKAGE_luci-app-kodexplorer=y
# CONFIG_PACKAGE_luci-app-mwan3helper=y
# CONFIG_PACKAGE_luci-app-adguardhome=y
